<launch>

  # RVIZ
  <node pkg="rviz2" exec="rviz2" name="rviz2" args="-d $(find-pkg-share missions_pkg)/rviz/rhodon.rviz" output="screen" launch-prefix="xterm -e" />

# HW_DRIVERS
#===========    
  # ARIA
  <include file="$(find-pkg-share ros2aria)/launch/aria_rhodon.launch"/>
  
  # HOKUYO UTM-30LX (back)
  <include file="$(find-pkg-share missions_pkg)/launch/rhodon/hokuyo_back_launch.py"/>
  
  # SICK LMS-200 || Hokuyo URG-04LX (front)
  <!-- <include file="$(find-pkg-share sicktoolbox_wrapper)/launch/sicklms200.launch"/>-->
  <include file="$(find-pkg-share missions_pkg)/launch/rhodon/hokuyo_front_launch.py"/>

  # URDF model (TFs)
  <include file="$(find-pkg-share missions_pkg)/launch/rhodon/rhodon_urdf_launch.py"/>
  
  # Keyboard Control
  <include file="$(find-pkg-share keyboard_control)/launch/keyboard_control.launch"/>

# MANAGEMENT
#===========
  # Task Manager
  <node pkg="task_manager" exec="bt_manager" name="taskManager" output="screen" launch-prefix="xterm -e"/>

# UTILS
#===========
  # NAV2 Autonomous Navigation
  <include file="$(find-pkg-share missions_pkg)/launch/rhodon/nav2_launch.py"/> 

  # MQTT_bridge
  <include file="$(find-pkg-share mqtt_bridge)/launch/mqtt_basic_robot.py"/>

  # HRI
  <include file="$(find-pkg-share webHRI)/launch/webHRI.launch"/>

  # Patrol
  <include file="$(find-pkg-share patrol)/launch/patrol_launch.py"/>
  
  
  
</launch>
