<launch>    
 
  # URDF model (TFs)
  <include file="$(find-pkg-share missions_pkg)/launch/rhodon_urdf_launch.py"/>
  
  # Keyboard Control
  <include file="$(find-pkg-share keyboard_control)/launch/keyboard_control.launch"/>
 
  # MQTT_bridge
  <include file="$(find-pkg-share mqtt_bridge)/launch/mqtt_basic_robot.py"/>

  # Task Manager
  <node pkg="task_manager" exec="bt_manager" name="taskManager" output="screen" launch-prefix="xterm -e"/>

  # HRI
  <include file="$(find-pkg-share webHRI)/launch/webHRI.launch"/>

  # NAV2 Autonomous Navigation
  <!-- <include file="$(find-pkg-share missions_pkg)/launch/nav2_launch.py"/> -->
  
  # NAV2 SLAM (mapping)
  <!--<include file="$(find-pkg-share missions_pkg)/launch/nav2_slam_launch.py"/>-->

  # RVIZ
  <node pkg="rviz2" exec="rviz2" name="rviz2" args="-d $(find-pkg-share missions_pkg)/rviz/rhodon.rviz" output="screen" launch-prefix="xterm -e" />
</launch>