<launch>    
 
  # Simulator (CoppeliaSIM)
  <!-- See simulator.launch -->  
  
  # Keyboard Control
  <include file="$(find-pkg-share keyboard_control)/launch/keyboard_control.launch"/>
 
  # MQTT_bridge
  <include file="$(find-pkg-share mqtt_bridge)/launch/mqtt_basic_robot.py"/>

  # Task Manager
  <node pkg="task_manager" exec="bt_manager" name="taskManager" output="screen" launch-prefix="xterm -e"/>
  <node pkg="task_manager" exec="task_from_topic" name="task_from_topic" output="screen" launch-prefix="xterm -e"/>

  # HRI
  <include file="$(find-pkg-share webHRI)/launch/webHRI.launch"/>

  # NAV2 Autonomous Navigation
  <include file="$(find-pkg-share missions_pkg)/launch/simbot/nav2_launch.py"/>
  
  # NAV2 SLAM (mapping)
  <!--<include file="$(find-pkg-share missions_pkg)/launch/simbot/nav2_slam_launch.py"/>-->

  # Patrol
  <include file="$(find-pkg-share patrol)/launch/patrol_launch.py"/>  
  
</launch>